<div class="container">
    <div class="card height-1">Card 1</div>
    <div class="card height-2">Card 2</div>
    <div class="card height-3">Card 3</div>
    <div class="card height-4">Card 4</div>
    <div class="card height-5">Card 5</div>
    <div class="card height-1">Card 6</div>
    <div class="card height-2">Card 7</div>
    <div class="card height-3">Card 8</div>
    <div class="card height-1">Card 9</div>
    <div class="card height-2">Card 10</div>
    <div class="card height-3">Card 11</div>
    <div class="card height-4">Card 12</div>
    <div class="card height-5">Card 13</div>
    <div class="card height-1">Card 14</div>
    <div class="card height-2">Card 15</div>
    <div class="card height-3">Card 16</div>
</div>